.shopping-cart-table {
  margin-top: 45px;
  color: #e5e5e5;
  .table {
    color: #e5e5e5;
  }
  .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
    color: #e5e5e5;
  }

  button {
    margin-left: 5px;
    margin-top: 5px;
  }
}
